<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated order_lang -->
      <package
            uri="http://www.example.org/order_lang"
            class="uk.ac.kcl.inf.mdd.order_lang.Order_langPackage"
            genModel="model/order_lang.genmodel"/>
   </extension>

</plugin>
