<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated order_lang -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.kcl.inf.mdd.order_lang.presentation.Order_langModelWizardID"
            name="%_UI_Order_langModelWizard_label"
            class="uk.ac.kcl.inf.mdd.order_lang.presentation.Order_langModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Order_langModelFile.gif">
         <description>%_UI_Order_langModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated order_lang -->
      <editor
            id="uk.ac.kcl.inf.mdd.order_lang.presentation.Order_langEditorID"
            name="%_UI_Order_langEditor_label"
            icon="icons/full/obj16/Order_langModelFile.gif"
            extensions="order_lang"
            class="uk.ac.kcl.inf.mdd.order_lang.presentation.Order_langEditor"
            contributorClass="uk.ac.kcl.inf.mdd.order_lang.presentation.Order_langActionBarContributor">
      </editor>
   </extension>

</plugin>
